.sendMail {
  position: fixed;
  bottom: 2%;
  right: 50px;
  background-color: white;
  width: 40%;
  height: 60%;
  max-width: 500px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid whitesmoke;
}

.sendMail__header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444746;
  background-color: #f2f6fc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sendMail__header > h3 {
  font-size: 14px;
  color: #051e49;
  flex: 1;
  font-weight: 600;
}

.sendMail__icon {
  align-self: center;
  height: 17px !important;
  width: 17px !important;
  margin-right: 5px !important;
  cursor: pointer;
}

.sendMail > form {
  display: flex;
  flex: 1;
  height: 400px;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sendMail > form > input {
  padding: 8px;
  height: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid whitesmoke;
  overflow-wrap: break-word !important;
}

.editMailMessage {
  flex: 1 !important;
  resize: none;
  text-align: flex-start;
  line-height: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin: 10px;
  outline: none;
}

.sendMail__options > .MuiButton-root {
  background-color: #0c57d0;
  color: white;
  width: 90px;
  border-radius: 20px;
  text-transform: inherit !important;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sendMail__options {
  background-color: white;
  border: 1px solid whitesmoke;
}

.errors__message {
  font-size: 12px;
  color: red;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
